@import 'pages/step-one';
@import 'pages/step-two';
@import 'pages/step-three';

@import 'components/timeline-accordian';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-content {
  padding: 20px;
  margin-top: 1rem;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  padding: 10px;
  background-color: rgb(28, 28, 29);

  li {
    padding: 0 5px;
    margin: 0 1px;
    
    a {
      color: white;
      text-decoration: none;
    }
  }
}